h1 {
  text-align: center;
  font-size: 70px;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
}
.button {
display: inline-block;
height: 20px;
width: 220px;
background: 	#00688B;
border: 2px black;
font-family: Helvetica;
font-weight: bold;
text-align: center;
color: black;
padding: 5px 10px;
font-size: 19px;
}

a.button {
	text-decoration: none;
}
#cs {
  color:#C6E2FF;
}
.lucru {
  color: #DC143C;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial;
}
